*{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{width:15px; border-radius: 20px;}
::-webkit-scrollbar-track{background: linear-gradient(transparent,rgba(182, 92, 92, 0.945)); 
    box-shadow:inset 0 0 10px rgba(0, 0, 0, 0.39);  }
::-webkit-scrollbar-thumb{background: linear-gradient(rgb(94, 32, 32),rgb(109, 37, 37),rgb(163, 55, 55),rgb(172, 77, 77)); border-radius: 20px;}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: linear-gradient(#c7bfdf , #db938f);
    background-attachment: fixed;
}

.container{}
/*These are the contents of the navigation bar*/
 ul{
    list-style: none;
}
a{
    text-decoration: none;
}
nav{
    display: flex;
    justify-self: space-around;
   position: fixed;
   z-index: 200;
    width: 100%;
    border: 1px solid black;
    color: white;
    height: 4rem;
    justify-content: center;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.473);
    align-items:center;
}
.navbar img{height:4vw;width:5vw;}

.logo{display: flex;
flex-direction: row;
align-items: center;
color: white;}

nav .menu{display:flex;}
nav .menu li a{
    height: 40px;
    line-height: 43px;
    margin: 0px;
    padding: 0px 25px;
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
}

nav i:hover,nav .menu li a:hover{
    border-bottom: 4px solid rgb(141, 42, 136);
    font-weight: bold;
    text-shadow: 0 0 10px #fff;
    transition: all ease 0.5s;
}

.search{
    width: 15%;
    display: flex;
    background-color: transparent;
    height: 40px;
    border-radius: 20px;
    align-items: center;
    justify-content:center ;
    padding: 0px 20px;
    margin-left: 5%;
    border: 3px solid white;
    font-size: large;
    color: white;
}

.search input{
    background-color: transparent;
    outline: none;
    width:90%;
    border: none;
    font-weight: bolder;
}
/*This the wrapper which also contains the nav bar */
.wrapper{
    width: 100%;
    border-bottom: 2px solid black;
    height:24vw;
    background-size: cover;
    background-attachment: fixed;
    background:brown;
    box-shadow: 10px 10px 5px #302f2f;
}
/*................................................*/
.wrapper h3{
    color:#d88581d2 ;
    margin-left: 35%;
    font-family: sans-serif;
    font-size: 6em;
    padding-top: 7%;  
    text-shadow: 5px 5px 2px black;
}

.Card{
    width:60%;
    height:auto;
    background: linear-gradient(#c7bfdf , #db938f);
    box-shadow: 10px 10px 7px #302f2f;
    position: absolute;
    margin-top: -4vw;
    margin-left: 5vw;
    border-radius: 15px;
    border: 5px black;
    display: flex;
    flex-direction: column;
}
.dp{
    height: 10vw;
    border-radius: 50%;
    
    width:10vw;
    margin:5%;
    margin-right: 3%;
    margin-bottom: 1%;
    border:5px solid brown;
}

.name{
    height: 10vw;
    width:20vw;
    font-size: 2em;
    padding-top: 1%;
    padding-left: 3%;
    margin: 5%;
    border-left: 5px solid brown;
}
.Card h3 , .Card h4 {
    font-size: 1.2em;
    margin-bottom: 0.7em;
}
.info h3{
    color: brown;
    text-decoration: underline;
    text-decoration-color:brown ;
    display: inline;

}
.info{
    padding: 1em 2em;
    width: 80%;
    height: 10vw;
}
.wishlist{
    margin-top:4%;
    margin-left: 65%;
    width: 32%;
    height: 17em;
    padding: 1%;
    background-color: #d88581d2;
    border-radius: 5px;
    text-align: center;
    color: brown;
}
.wishlist h3{
    font-weight: bold;
    font-size: 2em;
    text-shadow: 13px 17px 7px #302f2f;
}
.mytrips{
    margin:5% 5%;
    padding: 3%;
    width: 83%;
    display: grid;
    grid-template-columns: auto auto auto  ;
    grid-template-rows: auto;
    grid-gap: 2em;
}

.trip{
    width:18vw;
    height:18vw;
    border-radius: 50%;
    box-shadow: 10px 10px 5px #302f2f;

}

.trip img{
    width:120%;
    height: 120%;
    cursor: pointer;
    margin-left: -8%;
    margin-top: 2%;
}

.trip:hover{
    transition:all ease0.5s ;
    opacity: 0.8;
    transform: scale(1.1,1.1);
    cursor: pointer;
}
.T h1{
    text-align:center;
    background-color: brown;
    box-shadow: 10px 10px 5px #302f2f ;
    width: 50%;
    margin-top: -4%;
    margin-left: 9%;
    z-index: 4;
    font-size: 1.5em;
    
}

#wishlist{

}

.box{
    
    width:10vw;
    height:13vw;
    border-radius: 15px;
    margin:0 0%;
    background-size: cover;
    background-position: center;
    box-shadow: 10px 20px 5px rgba(0, 0, 0, 0.705);
    transition: all ease-in-out 0.7s;
    
}

.boxhead{
    text-align: center;
    padding-top: 2%;
    font-size: 1.5em;
    color: white;
    background-color: rgba(0, 0, 0, 0.425);
    font-weight: bold;
    border-top-left-radius:15px ;
    border-top-right-radius:15px ;
    transition: all ease-in-out 0.5s;
    text-transform: uppercase;
}
