*{margin: 0;
    padding: 0;}

body{
    width: 100%;
    height: 100%;
    background-image: url(img/watercolor3.jpg);
    background-size: cover;

}
::-webkit-scrollbar{width:20px; border-radius: 20px;}
::-webkit-scrollbar-track{background-image: url(watercolor3.jpg);box-shadow:inset 0 0 10px rgba(0, 0, 0, 0.39)  }
::-webkit-scrollbar-thumb{background: transparent; border-radius: 20px;}
::-webkit-scrollbar-thumb:hover{background: linear-gradient(black,transparent);}

h1{
    margin-top: -350px;
    margin-left: 38%;
    position: absolute;
    font-size: 35px;
    font-family: monospace;
}
.payment{
    width: 400px;
    height: 550px;
    color: #000;
    margin-top: 30%;
    top: 50%;
    left: 50%;
    padding: 60px 40px 60px 40px;
    position: relative;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    box-shadow: 8px 8px 50px #000;
    border-radius: 16px;
  }
  h12{
      margin-top: 10px;
      size: 10px;
      font-style: italic;
      font-weight: bold;
      font-family: cursive;
  }
  .card{
      padding: 8px auto;
      width: 150px;
      height: 50px;
      margin-top: 140px;
      position: absolute;
      margin-left: 80px;
      border-radius: 20px;
      background-color: orangered;
      font-weight: bold;
      font-size: 15px;
    font-family: cursive;
  }
  .easypaisa{
    padding: 13px auto;
    height: 50px;
    width: 150px;
    margin-top: 210px;
    position: absolute;
    margin-left: 80px;
    border-radius: 20px;
    background-color: green;
    font-weight: bold;
    font-size: 18px;
    font-family: cursive;
}
.jazzcash{
    padding: 8px auto;
    height: 50px;
    width: 150px;
    margin-top: 280px;
    position: absolute;
    margin-left: 80px;
    border-radius: 20px;
    background-color: darkred;
    font-weight: bold;
    font-size: 18px;
    font-family: cursive;
    
}
.cardpopup{
    background-image: url(img/watercolor3.jpg);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
.contentcardpop{
    height: 360px;
    width: 320px;
    position: relative;
    padding: 85px;
    border-radius: 20px;
    background: white;
}
.icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
.contentcardpop input{
    width: 100%;
    margin-bottom: 20px;
    
}
.contentcardpop input[type=text]{
    border: none;
    border-bottom: 2px solid #ddd;
    background: transparent;
    outline: none;
    height: 30px;
    font-size: 16px;
    opacity: 1;
    color: rgb(0, 0, 0);
 
 }
 .close{
    height: 20px;
    position: absolute;
    margin-left: 300px;
    top: 0px;
    right:4px;
    cursor: pointer;
}
.close1{
    height: 20px;
    position: absolute;
    margin-left: 300px;
    top: 0px;
    right:4px;
    cursor: pointer;
}
.close2{
    height: 20px;
    position: absolute;
    margin-left: 300px;
    top: 0px;
    right:4px;
    cursor: pointer;
}


.pay{
    width: 80%;
    padding: 08px;
    color: rgb(27, 22, 21);
    background-color: brown;
    font-size: 25px;
    font-family: monospace;
    font-weight: bolder;
    border-radius: 25px;
}

.pay1{
    width: 80%;
    padding: 08px;
    color: rgb(27, 22, 21);
    background-color: rgb(49, 158, 45);
    font-size: 25px;
    font-family: monospace;
    font-weight: bolder;
    border-radius: 25px;
}
.easypopup{
    background-image: url(img/watercolor3.jpg);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
.contenteasypop{
    height: 250px;
    width: 300px;
    position: relative;
    padding: auto;
    padding-left: 50px;
    padding-bottom: 300px;
    border-radius: 20px;
    background: white;
}p{
    color: gray;
    font-style: oblique;
    font-size: 17px;
}
p1{
    color: gray;
    font-style:normal;
    font-size: 10px;
}
.contenteasypop label{
    color: black;
    font-size: 14px;
    font-weight: bold;
}
.contenteasypop input{
    color: gray;
    font-size: 10px;
}
.contenteasypop input[type=text]{
    border: none;
    outline: none;
    height: 40px;
    font-size: 12px;
    opacity: 1;
    color: rgb(43, 35, 35);
    font-weight: normal;
  
}
.logo{
    top: 3px;
    left: 3px;
    size: 20px;
}
.jazzpopup{
    background-image: url(img/watercolor3.jpg);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
.contentjazzpop{
    height: 300px;
    width: 350px;
    position: relative;
    padding: auto;
    padding-left: 50px;
    padding-bottom: 300px;
    border-radius: 20px;
    background: white;
}
p5{
    color: gray;
    font-style:normal;
    font-size: 14px;
}
.contentjazzpop label{
    color: black;
    font-size: 14px;
    font-weight: bold;
}
.contentjazzpop input{
    color: gray;
    font-size: 10px;
}
.contentjazzpop input[type=text]{
    border: none;
    outline: none;
    height: 40px;
    font-size: 12px;
    opacity: 1;
    color: rgb(43, 35, 35);
    font-weight: normal;
  
}



  