*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: linear-gradient(#c7bfdf , #db938f);
    background-attachment: fixed;

}

.container{}
/*These are the contents of the navigation bar*/
 ul{
    list-style: none;
}
a{
    text-decoration: none;
}
nav{
    display: flex;
    justify-self: space-around;
   position: fixed;
   z-index: 200;
    width: 100%;
    border: 1px solid black;
    color: white;
    height: 4rem;
    justify-content: center;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.473);
    align-items:center;
}
.navbar img{height:4vw;width:5vw;}

.logo{display: flex;
flex-direction: row;
align-items: center;
color: white;}

nav .menu{display:flex;}
nav .menu li a{
    height: 40px;
    line-height: 43px;
    margin: 0px;
    padding: 0px 25px;
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
}

nav i:hover,nav .menu li a:hover{
    border-bottom: 4px solid rgb(141, 42, 136);
    font-weight: bold;
    text-shadow: 0 0 10px #fff;
    transition: all ease 0.5s;
}

.search{
    width: 15%;
    display: flex;
    background-color: transparent;
    height: 40px;
    border-radius: 20px;
    align-items: center;
    justify-content:center ;
    padding: 0px 20px;
    margin-left: 5%;
    border: 3px solid white;
    font-size: large;
    color: white;
}

.search input{
    background-color: transparent;
    outline: none;
    width:90%;
    border: none;
    font-weight: bolder;
}
/*This the wrapper which also contains the nav bar */
.wrapper{
    width: 100%;
    border-bottom: 2px solid black;
    height:24vw;
    background-size: cover;
    background-attachment: fixed;
    background:brown;
    box-shadow: 10px 10px 5px #302f2f;
}

.frames{
    margin-top:-10%;
    margin-left:10%;
    width:82%;
    height:auto;
}

  
.frames >ul{
    list-style: none;
    width: 100%;
    display: flex;
}

#hul2{z-index: 5; margin-top: -3%;}

#hul1{margin-right: -10%;}

#hul3{margin-left: -10%;}

.frames>ul>li{
  width: 100vw;
  height: 20vw;
  padding: 0;
  border: 3px solid black;
  cursor: pointer;
}
  
.frames>ul>li>img{
    width: 100%;
    height: 100%;
    background-position: center;
}


::-webkit-scrollbar{width:15px; border-radius: 20px;}
::-webkit-scrollbar-track{background: linear-gradient(transparent,rgba(182, 92, 92, 0.945)); 
    box-shadow:inset 0 0 10px rgba(0, 0, 0, 0.39);  }
::-webkit-scrollbar-thumb{background: linear-gradient(rgb(94, 32, 32),rgb(109, 37, 37),rgb(163, 55, 55),rgb(172, 77, 77)); border-radius: 20px;}

/*Actual page content*/
.actualcontent{
    width: 100%;
    margin-top: 9vw;
}

#PROVINCE{
    position: absolute;
    margin-top: -5vw;
    
    margin-left: 7%;
    font-family: 'Josefin Sans', sans-serif;
    font-size:9vw;
    color: transparent;
    background-image: url(Sindh.jpg);
    -webkit-background-clip: text;
    background-size: 100% 100%;
}

#falto1{
    width: 5%;
    height: 5px;
    border-top: 4px solid black;
}

#falto2{
    height: 5px;
    margin-top: -10px;
    border-top: 4px solid black;
}

.filterbar{
    padding-left:27%;
    display:flex;
    flex-direction:row;
    padding-top:1%;
    padding-bottom:1%;
    margin-left: 2%;
    margin-right: 2%;

}

.buttons{
    color:white;
    font-size: 1.2vw;
    text-align: center;
    text-decoration: none;
    outline: none;
    background:rgb(99, 32, 119);
    border-radius: 7vh;
    cursor: pointer;
    box-shadow: 10px 10px 5px rgb(109, 28, 85);
    margin-left: 40%;
    font-family:'Gloria Hallelujah', cursive;
    transition: all ease 0.5s;
}


/*All these contents above are same for the provinces pages*/

#quote{
    font-family: 'Kaushan Script', cursive;
    font-weight: bold;
    margin-left: 200px;
    font-size: 2em;
    text-align: center;
    margin: 5%;
    margin-left: -7%;
}

.sideinfo{
    
    width: 30%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
    margin-right: 3%;
    padding:5%;
    border-radius: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.sideinfo:before{
    content: '';
    background:inherit;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    filter: blur(20px);
}

.sideinfo p,.sideinfo h4{
    display:flex;
    margin:5% 0%;
    text-align: center;
    justify-content: center;
    align-content: center;
    font-size: large;
    
}

.sideinfo h2{
    font-size: 2em;
    text-align: center;
    background-color: rgba(165, 42, 42, 0.459);
    font-weight: bold;
    margin-top: -7%;
}

.textbox{
    font-size:1.4em ;
    font-family: 'Times New Roman', Times, serif;
    margin:0 10%;
    margin-bottom: 5%;
}

.deshead{
    margin-top:1%;
    font-weight: 800;
    font-family: 'Rock Salt', cursive;
    color:brown; 
    font-size: 2.5em;
    letter-spacing: 15px;
    margin-left: 2%;
    text-shadow:  2px 2px 4px black;
    border-top: 2px solid black;
    margin-right: 2%;
    padding-left: 3%;
}

.box{
    background-color: red;
    width:14vw;
    height:17vw;
    border-radius: 15px;
    margin:3vw 0%;
    margin-right: 3.5vw;
    background-size: cover;
    background-position: center;
    box-shadow: 10px 20px 5px rgba(0, 0, 0, 0.705);
    transition: all ease-in-out 0.7s;
}

.boxhead{
    text-align: center;
    padding-top: 2%;
    font-size: 1.5em;
    color: white;
    background-color: rgba(0, 0, 0, 0.425);
    font-weight: bold;
    border-top-left-radius:15px ;
    border-top-right-radius:15px ;
    transition: all ease-in-out 0.5s;
    text-transform: uppercase;
}

.box:hover>.boxhead{padding-top: 50%;}
.box:hover{transform: scale(1.1,1.1);}

footer{
    height: 2vw;
    width: 100%;
    background: inherit;
}