<!DOCTYPE html>
<html>
<head>
     <link rel="stylesheet" href="/Payment.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
     <link rel="shortcut icon" href="/img/logo.png"/>
     <title>Payments</title>
</head>
<body onload="loadfun()">
    <div id="loading">
  <div class="load1" ></div>
  <div class="load2"></div>
  <div class="load3"></div>
  <div class="load4"></div>
  <div class="load5"></div>
</div>
    <div class="container" id="myDiv">
        <script>
  function loadfun() {
  myVar = setTimeout(showPage, 3000);
}

function showPage() {
  document.getElementById("loading").style.display = "none";
  document.getElementById("myDiv").style.display = "block";
  document.body.style.overflow="visible";
}
</script>
    <img src="/img//logo.png" id="logo">
      <a href="/mainpage" class="logo">Touristooze</a>
       <h1>Your Trip Just One Step Away!</h1>
        <div class="payment" id="default">
            <h4>Select Your Payment Options:</h4>
            <div class="pay" id="pay1">
                <div class="payimg" >
                    <img src="/img/payment/card.png" alt="">
                </div>
                <h5>Debit Card</h5>
            </div>
            <div class="pay" id="pay2">
                <div class="payimg" >
                    <img src="/img/payment/easy.png" alt="">
                </div>
                <h5>EasyPaisa</h5>
            </div>
            <div class="pay" id="pay3">
                <div class="payimg" >
                    <img src="/img/payment/jc.png" alt="" style="height:240%">    
                </div>
                <h5>Jazz Cash</h5>
            </div>
        </div>

        <div class="payment" id="cardpopup">
          
            <div class="contentcardpop">
                <form action="/auth/paycard" method="POST">
                    <div class="carddetails">
                        <img src="/img/payment/close.png" alt="close" class="close" id="close1">
                        <h3>Payment</h3>
                        <label for="fname">Accepted Cards</label>
                        <div class="icon-container">
                            <i class="fa fa-cc-visa" style="color:navy;"></i>
                            <i class="fa fa-cc-mastercard" style="color:red;"></i>
                            <i class="fa fa-credit-card" style="color:orange;"></i>
                        </div>
                        <label for="cname">Name On Card</label>
                        <input type="text" id="cname" name="cardname" placeholder="Enter Name" required><br>
                        <label for="ccnum">Credit card number</label>
                        <input type="num" id="ccnum" name="cardnumber" placeholder="Card Number" required><br>
                        
                        <label for="cvv">CVV</label>
                        <input type="text" id="cvv" name="cvv" placeholder="CVV" required><br>
                        <button type="submit"  id="paybtnc" class="paybtn" >Pay Now!</button>
                    </div>
                </form>        
            </div>                
        </div>


        <div class="payment" id="easypopup">
            <div class="contenteasypop">
                <form action="/auth/payeasy" method="POST">
                    <div class="easydetails">
                        <img src="/img/payment/close.png" alt="close" class="close" id="close2">
                        <h2>Pay with Your EasyPaisa Mobile Account!</h2>
                        <p>Make sure you have enough balance in your account</p>
                        <p1><b>Experience easy payments- Save EasyPaisa account as your default account!</b><br>To confirm your payment after providing OTP: <br><br> 
                            <li>USSD Prompt for telenor users</li>
                            <li>Unlock phone and enter 5 digit PIN in the prompt to pay</li><br>OR<br><br>
                            <li>Approve payment in ypur EasyPaisa App</li><br>
                        <label for="ano">EasyPaisa Account No:</label>
                        <input type="text" id="ano" name="ano" placeholder="EasyPaisa Account No" required><br>
                        </p1>
                        <button class="paybtn" type="submit"  id="paybtne">Pay Now!</button>
                    </div>
                    
                </form>        
            </div>
            
        </div>
    
        <div class="payment" id="jazzpopup">
            <div class="contentjazzpop">
            <form action="/auth/payjazz" method="POST">
                <div class="jazzdetails">
                    <img src="/img/payment/close.png" alt="close" class="close" id="close3">
                    <h2>Pay with Your JazzCash Account!</h2>
                    <p>Make sure you have enough balance in your account</p><br>
                    <p2><ol><li><b>For Jazz / Warid Users</b><br><p5>Unloack your phone and you will recieve a MPIN input prompt</p5></li><br>
                    <li><b>For Other Users</b><p5><br>Login to your JazzCash App and enter MPIN</p5></li></ol><br><b>NOTE: </b><p5>Your JazzCash account must be active and have sufficient balance.</p5></p2>
                    <br> <br> <label for="jcn">JazzCash Account No:</label>
                        <input type="text" id="jcn" name="jcn" placeholder="JazzCash Account No" required><br>
                    </p1>
                    <button class="paybtn" type="submit"  id="paybtne">Pay Now!</button>
                </div>
                  
            </form>        
        </div>


        </div>





    
    <script>
        document.getElementById("pay1").addEventListener("click", function(){
            document.querySelector("#cardpopup").style.display="block";
            document.querySelector("#default").style.display="none";
        })
        document.querySelector("#close1").addEventListener("click", function(){
            document.querySelector("#cardpopup").style.display="none";
            document.querySelector("#default").style.display="block";
        })
            document.getElementById("pay2").addEventListener("click", function(){
            document.querySelector("#easypopup").style.display="block";
            document.querySelector("#default").style.display="none";
        })
        document.querySelector("#close2").addEventListener("click", function(){
            document.querySelector("#easypopup").style.display="none";
            document.querySelector("#default").style.display="block";
        })
        document.getElementById("pay3").addEventListener("click", function(){
            document.querySelector("#jazzpopup").style.display="block";
            document.querySelector("#default").style.display="none";
        })
        document.querySelector("#close3").addEventListener("click", function(){
            document.querySelector("#jazzpopup").style.display="none";
            document.querySelector("#default").style.display="block";
        })
        
        
    
    </script>
</body>
</html>