<!DOCTYPE html>
<html>
    <head>
        
<link rel='stylesheet' href="/wait.css"/>
    </head>
    <body>
        <form action="/auth/wait" method="POST" style="visibility: none;"name="cartCheckout" id="cartCheckout">
        </form>
        <h1>Please Wait.....</h1>     
    </body>
    <script>
window.onload=function(){ 
    window.setTimeout(function() { document.cartCheckout.submit(); }, 2000);
};
    </script>
</html>