*{
    margin: 0;
    padding: 0;
}
#loading{
    background-color: rgb(56, 9, 9);
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 90000;
    align-items: center;
    justify-content: center;
    align-content: center;
    
}
.load1{
    width:3em;
    height: 3em;
    border-radius: 50%;
    background-color: rgb(221, 191, 196);
    animation: load1 2s linear infinite;
    transition: all ease-in-out 1s;
    box-shadow: 0 5px 15px rgba(221, 191, 196, 0.753) ;
}
.load2{width:2.5em;
    height: 2.5em;
    border-radius: 50%;
    background-color: rgb(211, 150, 160);
    animation: load2 2s linear infinite;
    transition: all ease-in-out 1s;
    box-shadow: 0 5px 15px rgb(211, 150, 160,0.753);
}
.load3{
    width:2em;
    height: 2em;
    border-radius: 50%;
    background-color: rgb(190, 94, 110);
    animation: load3 2s linear infinite;
    transition: all ease-in-out 1s;
    box-shadow: 0 5px 15px rgb(190, 94, 110,0.753);
}
.load4{width:1.5em;
    height: 1.5em;
    border-radius: 50%;
    background-color: rgb(146, 53, 69);
     animation: load4 2s linear infinite;
    transition: all ease-in-out 1s;
    box-shadow: 0 5px 15px rgb(146, 53, 69,0.753);
}
.load5{
    width:1em;
    height: 1em;
    border-radius: 50%;
    background-color: rgb(99, 32, 43);
    animation: load5 2s linear infinite;
    transition: all ease-in-out 1s;
    box-shadow: 0 5px 15px rgb(99, 32, 43,0.753);
}

@keyframes load1 {
    0%,100%{width: 3em;height: 3em;}
    10%,80%{width: 2.5em;height: 2.5em;}
    20%,70%{width: 2em;height: 2em;}
    30%,60%{width: 1.5em;height:1.5 em;}
    40%,50%{width: 1em;height: 1em;}
}
@keyframes load2 {
    10%{width: 3em;height: 3em;}
    0%,20%,100%{width: 2.5em;height: 2.5em;}
    80%,30%{width: 2em;height: 2em;}
    70%,40%{width: 1.5em;height:1.5 em;}
    60%,50%{width: 1em;height: 1em;}
}

@keyframes load3 {
    20%{width: 3em;height: 3em;}
    10%,30%{width: 2.5em;height: 2.5em;}
    0%,50%,100%{width: 2em;height: 2em;}
    90%,60%{width: 1.5em;height:1.5 em;}
    80%,70%{width: 1em;height: 1em;}
}

@keyframes load4 {
    30%{width: 3em;height: 3em;}
    20%,50%{width: 2.5em;height: 2.5em;}
    10%,60%{width: 2em;height: 2em;}
    0%,70%,100%{width: 1.5em;height:1.5 em;}
    80%{width: 1em;height: 1em;}
}
@keyframes load4 {
    40%{width: 3em;height: 3em;}
    30%,60%{width: 2.5em;height: 2.5em;}
    20%,70%{width: 2em;height: 2em;}
    1%,80%{width: 1.5em;height:1.5 em;}
    0%,100%{width: 1em;height: 1em;}
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: linear-gradient(#c7bfdf , #db938f);
    overflow-x: hidden;
    overflow: hidden;
}

.container{}
/*These are the contents of the navigation bar*/
 ul{
    list-style: none;
}
a{
    text-decoration: none;
}
nav{
    display: flex;
    justify-self: space-around;
   position: fixed;
   z-index: 200;
    width: 100%;
    border: 1px solid black;
    color: white;
    height: 4rem;
    justify-content: center;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.473);
    align-items:center;
}
.navbar img{height:4vw;width:5vw;}

.logo{display: flex;
flex-direction: row;
align-items: center;
color: white;}

nav .menu{display:flex;margin-left: 35%;}
nav .menu li a{
    height: 40px;
    line-height: 43px;
    margin: 0px;
    padding: 0px 25px;
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
}

nav i:hover,nav .menu li a:hover{
    border-bottom: 4px solid rgb(141, 42, 136);
    font-weight: bold;
    text-shadow: 0 0 10px #fff;
    transition: all ease 0.5s;
}

.search{
    width: 15%;
    display: flex;
    background-color: transparent;
    height: 40px;
    border-radius: 20px;
    align-items: center;
    justify-content:center ;
    padding: 0px 20px;
    margin-left: 5%;
    border: 3px solid white;
    font-size: large;
    color: white;
}

.search input{
    background-color: transparent;
    outline: none;
    width:90%;
    border: none;
    font-weight: bolder;
}
/*This the wrapper which also contains the nav bar */
.wrapper{
    width: 100%;
    border-bottom: 2px solid black;
    height:24vw;
    background-size: cover;
    background-attachment: fixed;
    background:brown;
    box-shadow: 10px 10px 5px #302f2f;
}

.frames{
    margin-top:-10%;
    margin-left:10%;
    width:82%;
    height:auto;
}

  
.frames >ul{
    list-style: none;
    width: 100%;
    display: flex;
}

#hul2{z-index: 5; margin-top: -3%;}

#hul1{margin-right: -10%;}

#hul3{margin-left: -10%;}

.frames>ul>li{
  width: 100vw;
  height: 20vw;
  padding: 0;
  border: 3px solid black;
  cursor: pointer;
}
  
.frames>ul>li>img{
    width: 100%;
    height: 100%;
    background-position: center;
}

.quote{
    font-family: 'Satisfy', cursive;
    font-weight: 2vw;
    font-size: 3vw;
    text-align: center;
    margin-left: -8%;
    margin-top: 2%;
}

#q{
    font-weight: bolder;
    font-size: 2.5vw;
    margin-left:70%;
}

.planbtn{
    font-size: 1.2vw;
    height: 7vh;
    text-align: center;
    text-decoration: none;
    outline: none;
    border-radius: 7vh;
    background:rgb(99, 32, 119);
    color: white;
    cursor: pointer;
    box-shadow: 10px 10px 5px rgb(109, 28, 85);
    margin-left: 40%;
    font-family:'Gloria Hallelujah', cursive;
    transition: all ease 0.5s;
}

.planbtn:hover{
    opacity: 0.8;
    font-size: bold;
    transform: scale(1.1,1.1);
}


.mainheadings{
    font-size:5vw;
    font-weight: 200vh;
    letter-spacing: 3px;
    font-family: 'Lilita One', cursive;
    width: 100%;
    text-align: center;
    margin-top: 5%;
    display: block;
    margin-bottom: 3%;
}



.whytouristooze{
    display: none;
    width: 100%;
    height: auto;
    padding-top: 7%;
    color: white;
    font-size: 1.3em;
    padding-bottom: 7%;
    margin-top: 2%;
    
}

#t1{background-color: rgb(172, 113, 153);display: block;}
#t2{background-color: rgb(172, 113, 153); display: block;}
#t3{background-color: rgb(172, 113, 153);display: block;}

.whytouristooze p, .whytouristooze h1{    
    margin-left: 2%;
    margin-bottom: 3%;
}

.whytouristooze li{
    margin-left: 5%;
    list-style-type: circle ;
}

.test{
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    border-right: 4px solid brown;
    border-radius: 4px;
}

.test1{
    width:50%;
    float: right;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.test1 button{
    margin-right: 15vw;
    margin-bottom: 5vw;
}

#r1,#r4{
    float: right;
    margin-right: 7vw;
   
}

.test2{
    width:50%;
    float: right;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#r2{
    margin-right: 2vw;
    
    margin-top: 1vw;
    margin-bottom: -15vw;
}

#r3{
    margin-right: 0vw;
    margin-top: -19vw;
}

.review{
    height: 50vh;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    width: 50%;
    margin-top: 3%;
}
.content{
    width: 80%;
    color: purple;
    font-size: 0.7em;
}
.review span:nth-child(1){
    width: 35vw;
    height: 35vw;
    border: 2px solid white;
    border-radius: 38% 62% 63% 37%/ 41% 44% 56% 59%;
    transition: 0.5s;
   position: absolute;
   
   animation:animaterot 4s linear infinite;
   
}

.review span:nth-child(2){
    width: 35vw;
    height: 35vw;
    border: 2px solid white;
    border-radius: 38% 62% 63% 37%/ 41% 44% 56% 59%;
    position: absolute;
    transition: 0.5s;
    transform: rotate(45deg);
    animation:animaterot1 4s linear infinite;
}
.review span:nth-child(3){
    width: 35vw;
    height: 35vw;
    border: 2px solid white;
    border-radius: 38% 62% 63% 37%/ 41% 44% 56% 59%;
    transition: 0.5s;
    position: absolute;
    transform: rotate(75deg);
    animation:animaterot2 4s linear infinite;
}


@keyframes animaterot{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

@keyframes animaterot1{
    0%,100%{transform: rotate(40deg);}
    50%{transform: rotate(180deg);}
}

@keyframes animaterot1{
    0%,100%{transform: rotate(70deg);}
    50%{transform: rotate(240deg);}

}

#tourguides{
    width: 95%;
    margin-left: 3%;
    height:auto;
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    border-left: 4px solid brown;
    border-radius: 4px;
    margin-bottom: 4%;
}

#tourguides1{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 13%;
}
#tourguides2{
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.tg1{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.card{
    padding: 3%;
    width: 13vw;
    height:16vw;
    margin-left:18% ;
    margin-top: 15%;
    cursor: pointer;
    border-radius: 5%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
    transition: background 0.8s;
    background: url(/img/about/areeb.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card:hover{
    background-size: 180%;
    background-position: left center;
}

.card span{
    color: #f6f6f6;
    font-weight: bold;
    font-size: 2vw;
    transition: all 0.8s;
    opacity: 0;
    transform: translateY(20px);
    text-shadow: 0 5px 5px #111;
}

.card:hover span{
    opacity: 1;
    transform: translateY(0);
}

.social-media{
    display: none;
    transition: all 0.8s;

}

.social-media i{
    color: #f6f6f6;
    font-size: 1.5vw;
    margin-top: 5%;
}

.card:hover .social-media{
    display: flex;
    flex-direction: column;
}




#description{
    text-align: center;
    font-size: 1.2vw;
    font-family: 'Kalam', cursive;
    margin: 0 15%;
}

#founders{
    display: grid;
    grid-template-columns: 30% 30%;
    grid-column-gap:5vw;
    grid-row-gap:1vw ;
    width: 50vw;
    margin: 3% 30%;
}

.picture{
    width:17vw;
    height: 17vw;
    clip-path: circle(50% at 50% 50%);   
}

.picture img{
    width:100%;
    height: 100%;

}

.f{ 
    padding-top: 1vw;
    width: 17vw;
    height: auto;
    background: inherit;
    box-shadow: 7px 7px 3px rgb(170, 98, 104);
    background: linear-gradient(rgb(202, 130, 136),rgb(202, 130, 136));
    text-align: center;
    font-family: 'Kalam', cursive;
    border-radius: 3%;
    align-content: center;
}

.f a{
    color: white;
    font-size: 2.2vw;
    margin-right: 6%;

}
.f h1{
    width: 100%;
    font-size: 1vw;
    color: white;
}

.insta:hover{
    transition: all ease 0.3s;
    background: -webkit-linear-gradient(#515BD4,#8134AF,#DD2A7B,#FEDA77,#F58529);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.linked:hover{color: #006192;transition: all ease 0.3s;}

.what:hover{color: #189646;transition: all ease 0.3s;}


footer{
    color: white;
    background-color: rgba(0, 0, 0, 0.829);
    padding: 1vw;
}
#last{text-align: center;margin-top: 1vw;}
footer h2{
    display:block;
    font-size: 3vw;
    text-align: left;
    width: 100%;
    
}
.foot{width: 20%;
    display: flex;
    flex-direction: column;
    margin-left: 4%;
    height: 100%;
    text-align: center;
    justify-content: center;
    font-size: 0.7vw;
    padding: 1% 0;
}

.foot h1{margin-bottom: 0.5vw;text-decoration: underline;text-decoration-color: white;}
.foot a,.foot p{
    text-decoration: none;
    color: white;
    font-size: 1.2vw;
    margin-top: 0.5vw;
}
.foot a:hover{ 
    font-weight: bold;
    text-shadow: 0 0 10px #fff;
    transition: all ease 0.5s;
}
.part{
    display:flex;
    flex-direction:row;
    margin-top:2%;
}

.part img{
    width:4.6vw;
    cursor: pointer;
}

#foot4 img{
    width: 20vw;
    height: 4vw;
    cursor: pointer;
}

::-webkit-scrollbar{width:15px; border-radius: 20px;}
::-webkit-scrollbar-track{background: linear-gradient(transparent,rgba(182, 92, 92, 0.945)); 
    box-shadow:inset 0 0 10px rgba(0, 0, 0, 0.39);  }
::-webkit-scrollbar-thumb{background: linear-gradient(rgb(94, 32, 32),rgb(109, 37, 37),rgb(163, 55, 55),rgb(172, 77, 77)); border-radius: 20px;}
@media screen and (min-width: 480px) {
    .about{
        display: grid;
        grid-template-columns: 50% 50% ;
        grid-template-rows: auto;
        width: 100%;
        height: auto;
    }
    
    .whytouristooze{
        width: 100%;
        height: auto;
        padding-top: 7%;
        color: white;
        font-size: 1.3em;
        padding-bottom: 7%;
        margin-top: 0%;
        display: block;
        
    }
    
    #t1{background-color: rgb(172, 113, 153);}
    #t2{background-color: rgb(172, 113, 153);}
    #t3{background-color: rgb(172, 113, 153);}
    .whytouristooze p, .whytouristooze h1{    
        margin-left: 20%;
        margin-bottom: 3%;
    }
    
    .whytouristooze li{
        margin-left: 30%;
        list-style-type: circle ;
    }
    .content{
        width: 80%;
        color: purple;
        font-size: 1.2em;
    }
    .review span:nth-child(1){
        width: 25vw;
        height: 25vw;
        border: 2px solid white;
        border-radius: 38% 62% 63% 37%/ 41% 44% 56% 59%;
        transition: 0.5s;
       position: absolute;
       
       animation:animaterot 4s linear infinite;
       
    }
    
    .review span:nth-child(2){
        width: 25vw;
        height: 25vw;
        border: 2px solid white;
        border-radius: 38% 62% 63% 37%/ 41% 44% 56% 59%;
        position: absolute;
        transition: 0.5s;
        transform: rotate(45deg);
        animation:animaterot1 4s linear infinite;
    }
    .review span:nth-child(3){
        width: 25vw;
        height: 25vw;
        border: 2px solid white;
        border-radius: 38% 62% 63% 37%/ 41% 44% 56% 59%;
        transition: 0.5s;
        position: absolute;
        transform: rotate(75deg);
        animation:animaterot2 4s linear infinite;
    }
    #r2{
        margin-right: -2vw;
        margin-top: 4vw;
        margin-bottom: 1vw;
    }
    
    #r3{
        margin-right: -8vw;
        margin-top: 10vw;
    }
    
}