*{
    margin: 0;
    padding: 0;
}

#loading{
    background-color: rgb(56, 9, 9);
    width:100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 9000000;
    align-items: center;
    justify-content: center;
    align-content: center;
    
}
.load1{
    width:3em;
    height: 3em;
    border-radius: 50%;
    background-color: rgb(221, 191, 196);
    animation: load1 2s linear infinite;
    transition: all ease-in-out 1s;
    box-shadow: 0 5px 15px rgba(221, 191, 196, 0.753) ;
}
.load2{width:2.5em;
    height: 2.5em;
    border-radius: 50%;
    background-color: rgb(211, 150, 160);
    animation: load2 2s linear infinite;
    transition: all ease-in-out 1s;
    box-shadow: 0 5px 15px rgb(211, 150, 160,0.753);
}
.load3{
    width:2em;
    height: 2em;
    border-radius: 50%;
    background-color: rgb(190, 94, 110);
    animation: load3 2s linear infinite;
    transition: all ease-in-out 1s;
    box-shadow: 0 5px 15px rgb(190, 94, 110,0.753);
}
.load4{width:1.5em;
    height: 1.5em;
    border-radius: 50%;
    background-color: rgb(146, 53, 69);
     animation: load4 2s linear infinite;
    transition: all ease-in-out 1s;
    box-shadow: 0 5px 15px rgb(146, 53, 69,0.753);
}
.load5{
    width:1em;
    height: 1em;
    border-radius: 50%;
    background-color: rgb(99, 32, 43);
    animation: load5 2s linear infinite;
    transition: all ease-in-out 1s;
    box-shadow: 0 5px 15px rgb(99, 32, 43,0.753);
}

@keyframes load1 {
    0%,100%{width: 3em;height: 3em;}
    10%,80%{width: 2.5em;height: 2.5em;}
    20%,70%{width: 2em;height: 2em;}
    30%,60%{width: 1.5em;height:1.5 em;}
    40%,50%{width: 1em;height: 1em;}
}
@keyframes load2 {
    10%{width: 3em;height: 3em;}
    0%,20%,100%{width: 2.5em;height: 2.5em;}
    80%,30%{width: 2em;height: 2em;}
    70%,40%{width: 1.5em;height:1.5 em;}
    60%,50%{width: 1em;height: 1em;}
}

@keyframes load3 {
    20%{width: 3em;height: 3em;}
    10%,30%{width: 2.5em;height: 2.5em;}
    0%,50%,100%{width: 2em;height: 2em;}
    90%,60%{width: 1.5em;height:1.5 em;}
    80%,70%{width: 1em;height: 1em;}
}

@keyframes load4 {
    30%{width: 3em;height: 3em;}
    20%,50%{width: 2.5em;height: 2.5em;}
    10%,60%{width: 2em;height: 2em;}
    0%,70%,100%{width: 1.5em;height:1.5 em;}
    80%{width: 1em;height: 1em;}
}
@keyframes load4 {
    40%{width: 3em;height: 3em;}
    30%,60%{width: 2.5em;height: 2.5em;}
    20%,70%{width: 2em;height: 2em;}
    1%,80%{width: 1.5em;height:1.5 em;}
    0%,100%{width: 1em;height: 1em;}
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-attachment: fixed;
    background-image: url(/img/main/img9.jpg);
    animation-name: animatewrap;
    animation-duration: 13s;
    animation-timing-function: ease-in-out;
    animation-play-state: running;
    animation-iteration-count: infinite;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow: hidden;
}


.container{
   
}
/*These are the contents of the navigation bar*/
 ul{
    list-style: none;
}
a{
    text-decoration: none;
}
nav{
    display: flex;
    justify-self: space-around;
   position: fixed;
   z-index: 200;
    width: 100%;
    border: 1px solid black;
    color: white;
    height: 4rem;
    justify-content: center;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.473);
    align-items:center;
}
.navbar img{height:4vw;width:5vw;}

.logo{display: flex;
flex-direction: row;
align-items: center;
color: white;}

nav .menu{display:flex; margin-left: 35%;}
nav .menu li a{
    height: 40px;
    line-height: 43px;
    margin: 0px;
    padding: 0px 25px;
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
}

nav i:hover,nav .menu li a:hover{
    border-bottom: 4px solid rgb(141, 42, 136);
    font-weight: bold;
    text-shadow: 0 0 10px #fff;
    transition: all ease 0.5s;
}

.search{
    width: 15%;
    display: flex;
    background-color: transparent;
    height: 40px;
    border-radius: 20px;
    align-items: center;
    justify-content:center ;
    padding: 0px 20px;
    margin-left: 5%;
    border: 3px solid white;
    font-size: large;
    color: white;
}

.search input{
    background-color: transparent;
    outline: none;
    width:90%;
    border: none;
    font-weight: bolder;
}
/*This the wrapper which also contains the nav bar */
.wrapper{
    height:30vh;
}

.H{font-size: 5em;
    text-align: center;
    color: black;
    font-family:'Gloria Hallelujah', cursive;
    margin-top:4%;
    background:linear-gradient(transparent,rgba(228, 225, 225, 0.479),transparent);
}

@keyframes animatewrap{
        0%{background-image: url(/img/main/img13.jpg);}
        25%{background-image: url(/img/main/img8.jpg);}
        50%{background-image: url(/img/main/img5.jpg);}
        75%{background-image: url(/img/main/img6.jpg);}
        100%{background-image: url(/img/main/img9.jpg);}
        
}
.pop{background:linear-gradient(transparent,rgba(228, 225, 225, 0.479),transparent);
    height:30%;
    width: 48%;
    
    padding-top: 25%;
    letter-spacing: 2px;
    color: white;
    font-family: 'Bowlby One SC', cursive;
    text-shadow: 0 0 10px rgb(56, 55, 55);
  
}
.change{
    margin-left:10%;
    width: auto;
    background-color: brown;
    height: 7vw;
    padding: 0;
    overflow: hidden;
    margin-top: 5%;
}

.pop ul{
    animation: animatetext 15s linear infinite;
    padding-left:5px;
}

.pop li{font-size:6vw;}
.pop h1{margin-left: 20px;font-size: 3vw;margin-top: 20%;}

@keyframes animatetext {
    0%{transform: translateY(0%);}   
    10%{transform: translateY(0%);}
    20%{transform:translateY(-22%);}
    30%{transform:translateY(-22%);}
    40%{transform:translateY(-42%);}
    50%{transform:translateY(-42%);}
    60%{transform:translateY(-62%);}
    70%{transform:translateY(-62%);}
    80%{transform:translateY(-82%);}
    80%{transform:translateY(-82%);}
    90%{transform:translateY(-82%);}
    100%{transform:translateY(0%);}

}
/*These are the other contents of the page*/


#section {
    text-shadow: 5px 5px 2px rgb(109, 28, 85);
    background:linear-gradient(transparent,rgba(228, 225, 225, 0.479),transparent);
    margin-top: 5%;
    
    text-align:left;
    color:#d88581d2 ;
    padding-left: 2%;
    font-family: sans-serif;
    font-size: 2em;
    letter-spacing: 3px;
    word-spacing: 10px;
}

.subsec{
    
    margin-top: 4%;
    color: black;
    font-weight: 100vh;
    letter-spacing: 5px;
    width: 100%;
    
}

.subsec h2{
    font-family:'Gloria Hallelujah', cursive;
    margin-top: 7%;
    font-size: 5em;    
    text-decoration: underline;
    text-decoration-color:brown ;
    background:linear-gradient(transparent,rgba(228, 225, 225, 0.479),transparent);
}
.formatsec{
    background-color: #db938f;
    padding-top: 2%;
    width:100%;
    height: 60vh;
}

.gallery{
    display: grid;
    border: 7px solid rgba(165, 42, 42, 0.699);
    background-color: rgba(165, 42, 42, 0.822);
    box-shadow: 10px 10px 5px #302f2fb6;
    width: 70%;
    height: auto;
    margin-left: 12%;
    
    overflow: hidden;
    grid-template-columns: auto auto auto auto ;
    grid-template-rows: auto;
    grid-gap: 0.2rem;
    grid-auto-flow: dense;
}

.gallery .img{
    width: 100%;
    overflow: hidden;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0px 0px 30px 10px rgba(0,0,0,0.6);

}
#gal1{animation: pic1 8s linear infinite;animation-timing-function: ease-in-out;}
@keyframes pic1{50%{content: url(/img/main/gg2.jpg);} 0%,100%{content: url(/img/main/g2.jpg);}}

#gal2{animation: pic2 10s linear infinite;animation-timing-function: ease-in-out;}
@keyframes pic2{50%{content: url(/img/main/gg3.jpg);} 0%,100%{content: url(/img/main/g3.jpg);}}

#gal3{animation: pic3 12s linear infinite;animation-timing-function: ease-in-out;}
@keyframes pic3{50%{content: url(/img/main/gg4.jpg);} 0%,100%{content: url(img/main/g4.jpg);}}

#gal4{animation: pic4 10s linear infinite;animation-timing-function: ease-in-out;}
@keyframes pic4{50%{content: url(/img/main/gg6.jpg);} 0%,100%{content: url(/img/main/g6.jpg);}}

#gal5{animation: pic5 12s linear infinite;animation-timing-function: ease-in-out;}
@keyframes pic5{50%{content: url(/img/main/gg5.jpg);} 0%,100%{content: url(/img/main/g5.jpg);}}

#gal6{animation: pic6 8s linear infinite;animation-timing-function: ease-in-out;}
@keyframes pic6{50%{content: url(/img/main/gg7.jpg);} 0%,100%{content: url(/img/main/g7.jpg);}}

.gallery .img:first-child{grid-column-start: span 2;}

.gallery .img:nth-child(3){grid-row: span 2;}
#DIV{
    align-items: center;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: row;
}


.img1{
    background-image: url(/img/main/trip1.png);
    background-size: cover;
    height:90%;
    width:30%;
    

}
.img2{
    background-image: url(/img/main/trip3.png);
    background-size: cover;
    height:90%;
    width:30%;
    margin-left: 5%;

}
.actgal{
    width: 30%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    border-radius: 3%;
    box-shadow: inset 0px 0px 20px 10px rgba(0,0,0,0.6);
}

#act1{
    background-image: url(/img/plan/act1.jpg);    
    transform: rotate(12deg);

}

#act1{animation: a1 8s linear infinite;animation-timing-function: ease-in-out;}
@keyframes a1{50%{background:  url(/img/plan/act5.jpg); background-size: cover;} 0%,100%{ background-size: cover;background:   url(/img/plan/act1.jpg);}}

#act2{
    background-image: url(/img/plan/act2.jpg);
    transform: rotate(-6deg);
    margin-left: -5%;
}

#act2{animation: a2 8s linear infinite;animation-timing-function: ease-in-out;}
@keyframes a2{50%{background:   url(/img/plan/act1.jpg); background-size: cover;} 0%,100%{ background-size: cover;background:  url(/img/plan/act2.jpg);}}

#act3{
    background-image: url(/img/plan/act3.jpg);
    margin-left: -5%;
    z-index: 5;
}

#act3{animation: a3 8s linear infinite;animation-timing-function: ease-in-out;}
@keyframes a3{50%{background:   url(/img/plan/act2.jpg); background-size: cover;} 0%,100%{background:   url(/img/plan/act3.jpg); background-size: cover;}}





.pack{
    width:40%;
    margin-left: 30%;
    height :50vh;
    margin-top: 2%;
    justify-content: center;
    display: flex;
}

.packagelist{
    width: 35vw;
    height:auto;
    padding: 5% 3%;
    border-radius: 4%; 
    box-shadow: 10px 10px 5px #302f2f;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-family:'Gloria Hallelujah', cursive;
}

#one{
    transform:rotate(5deg);
    background: linear-gradient(rgb(233, 26, 233),purple);
}

#two{
    margin-left: 4%;
    transform: rotate(-9deg);
    background: linear-gradient(rgb(35, 210, 216),rgb(17, 91, 160));
}

.packagelist:hover{
    transition:all ease0.5s ;
    opacity: 0.7;
    margin-top: 10px;
    cursor: pointer;
}

.pack h3{
    font-size: 2vw;
    font-family:'Gloria Hallelujah', cursive;
    font-weight: 25vh;
    margin-top: 5%;
    margin-bottom: 5%;
}

#packul li{text-align: left;font-size: 1vw;}

.pack p{font-size: 1vw;}

.dot{
    height: 10%;
    width: 12%;margin-left: 45%;
    border-radius: 50%;
    background-color:rgb(201, 163, 212);
    box-shadow: 7px 7px 5px #361b1b;
}

#topreview{margin-bottom: 2%;}

.review{height: 50vh;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    margin-right: 3%;
    width: 28%;
}

.review span:nth-child(1){
    width: 25vw;
    height: 25vw;
    border: 2px solid white;
    border-radius: 38% 62% 63% 37%/ 41% 44% 56% 59%;
    position: absolute;
   
}

.review span:nth-child(2){
    width: 25vw;
    height: 25vw;
    border: 2px solid white;
    border-radius: 38% 62% 63% 37%/ 41% 44% 56% 59%;
    position: absolute;
    
    transform: rotate(45deg);
}
.review span:nth-child(3){
    width: 25vw;
    height: 25vw;
    border: 2px solid white;
    border-radius: 38% 62% 63% 37%/ 41% 44% 56% 59%;
    position: absolute;
    transform: rotate(75deg);
}

.review:hover{
    animation:animaterot 2s linear infinite;
}

@keyframes animaterot{
    50%{transform: rotate(180deg);}
    100%{transform: rotate(360deg);}
}

.news{
    overflow: hidden;
    height: 20vw;
    background-color: #db938fd2;
    display: flex;
    margin-bottom: 2vw;
    padding:5% 5%;
    flex-direction: row;
}
.newsslide{
    width:auto;
    height: 90%;
    display: flex;
    flex-direction: row;
    margin-right: 3%;
    background-color: rgba(137, 122, 153, 0.726);
    border-radius: 20px;
    transition: all ease-in-out 4s;
    animation:newslide 10s  infinite ;

    animation-fill-mode: forwards;

}
@keyframes newslide {
    0%,100%{transform: translateX(0em);}
    20%{transform:translateX(-46em) ;}
    40%{transform:translateX(-90em) ;}
    60%{transform:translateX(-46em) ;}

    
  }
.newsslide img{
    width: 20vw;
    height: 100%;
    border-top-left-radius:20px ;
    border-bottom-left-radius:20px ;
}
.headline{
    width: 25vw;
    justify-content: center;
    height: 100%;
    display: flex;
    
    flex-direction: column;
    text-align: center;
    margin-left: 2%;
    
}
footer{
    color: white;
    background-color: rgba(0, 0, 0, 0.829);
    padding: 1vw;
}
#last{text-align: center;margin-top: 1vw;}
footer h2{
    display:block;
    font-size: 3vw;
    text-align: left;
    width: 100%;
    
}
.foot{width: 20%;
    display: flex;
    flex-direction: column;
    margin-left: 4%;
    height: 100%;
    text-align: center;
    justify-content: center;
    font-size: 0.7vw;
    padding: 1% 0;
}

.foot h1{margin-bottom: 0.5vw;text-decoration: underline;text-decoration-color: white;}
.foot a,.foot p{
    text-decoration: none;
    color: white;
    font-size: 1.2vw;
    margin-top: 0.5vw;
}
.foot a:hover{ 
    font-weight: bold;
    text-shadow: 0 0 10px #fff;
    transition: all ease 0.5s;
}
.part{display:flex;flex-direction:row;margin-top:2%;}
.part img{width:4.6vw;cursor: pointer;}
#foot4 img{width: 20vw;height: 4vw;cursor: pointer;}


.menu-icon{display: none;}


@media only screen and (max-width:900px){

    /* .btn{display: none;} */
    nav .menu{flex-direction: column;display:none;
margin-top :270px;position:absolute;right:10%;z-index: 20;}
nav .menu li {margin: 0;}
nav .menu li a{display: block; width:100%;background-color: black;}
.menu-icon{display:flex;position: absolute;right: 5%;}
/* .menu-icon:hover{color: brown;} */
/* .menu-icon:hover{display: none;}*/
nav.menu{display: flex;} 
/* .btn:hover{display: none;} */
}
::-webkit-scrollbar{width:15px; border-radius: 20px;}
::-webkit-scrollbar-track{background: linear-gradient(transparent,rgba(182, 92, 92, 0.945)); 
    box-shadow:inset 0 0 10px rgba(0, 0, 0, 0.39);  }
::-webkit-scrollbar-thumb{background: linear-gradient(rgb(94, 32, 32),rgb(109, 37, 37),rgb(163, 55, 55),rgb(172, 77, 77)); border-radius: 20px;}


@media screen and (min-width: 480px) {
    .pop{background:linear-gradient(transparent,rgba(228, 225, 225, 0.479),transparent);
        height:89%;
        width: 48%;
        
        padding-top: 5%;
        letter-spacing: 2px;
        color: white;
        font-family: 'Bowlby One SC', cursive;
        text-shadow: 0 0 10px rgb(56, 55, 55);
      
    }
    .change{margin-top: 0;
        margin-left:10%;
        width: auto;
        background-color: brown;
        height: 7vw;
        padding: 0;
        overflow: hidden;
    }
    .wrapper{
        height:95vh;
    }
    #section {
        text-shadow: 5px 5px 2px rgb(109, 28, 85);
        background:linear-gradient(transparent,rgba(228, 225, 225, 0.479),transparent);
        margin-top: 5%;
        width: 92%;
        text-align: center;
        color:#d88581d2 ;
        padding-left: 7%;
        font-family: sans-serif;
        font-size: 6em;
        letter-spacing: 3px;
        word-spacing: 60px;
    }
    nav .menu li a{
    height: 40px;
    line-height: 43px;
    margin: 0px;
    padding: 0px 25px;
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
}
}
