*{
  margin: 0;
  padding: 0;
}
#loading{
  background-color: rgb(56, 9, 9);
  width:100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90000;
  align-items: center;
  justify-content: center;
  align-content: center;
  
}
.load1{
  width:3em;
  height: 3em;
  border-radius: 50%;
  background-color: rgb(221, 191, 196);
  animation: load1 2s linear infinite;
  transition: all ease-in-out 1s;
  box-shadow: 0 5px 15px rgba(221, 191, 196, 0.753) ;
}
.load2{width:2.5em;
  height: 2.5em;
  border-radius: 50%;
  background-color: rgb(211, 150, 160);
  animation: load2 2s linear infinite;
  transition: all ease-in-out 1s;
  box-shadow: 0 5px 15px rgb(211, 150, 160,0.753);
}
.load3{
  width:2em;
  height: 2em;
  border-radius: 50%;
  background-color: rgb(190, 94, 110);
  animation: load3 2s linear infinite;
  transition: all ease-in-out 1s;
  box-shadow: 0 5px 15px rgb(190, 94, 110,0.753);
}
.load4{width:1.5em;
  height: 1.5em;
  border-radius: 50%;
  background-color: rgb(146, 53, 69);
   animation: load4 2s linear infinite;
  transition: all ease-in-out 1s;
  box-shadow: 0 5px 15px rgb(146, 53, 69,0.753);
}
.load5{
  width:1em;
  height: 1em;
  border-radius: 50%;
  background-color: rgb(99, 32, 43);
  animation: load5 2s linear infinite;
  transition: all ease-in-out 1s;
  box-shadow: 0 5px 15px rgb(99, 32, 43,0.753);
}

@keyframes load1 {
  0%,100%{width: 3em;height: 3em;}
  10%,80%{width: 2.5em;height: 2.5em;}
  20%,70%{width: 2em;height: 2em;}
  30%,60%{width: 1.5em;height:1.5 em;}
  40%,50%{width: 1em;height: 1em;}
}
@keyframes load2 {
  10%{width: 3em;height: 3em;}
  0%,20%,100%{width: 2.5em;height: 2.5em;}
  80%,30%{width: 2em;height: 2em;}
  70%,40%{width: 1.5em;height:1.5 em;}
  60%,50%{width: 1em;height: 1em;}
}

@keyframes load3 {
  20%{width: 3em;height: 3em;}
  10%,30%{width: 2.5em;height: 2.5em;}
  0%,50%,100%{width: 2em;height: 2em;}
  90%,60%{width: 1.5em;height:1.5 em;}
  80%,70%{width: 1em;height: 1em;}
}

@keyframes load4 {
  30%{width: 3em;height: 3em;}
  20%,50%{width: 2.5em;height: 2.5em;}
  10%,60%{width: 2em;height: 2em;}
  0%,70%,100%{width: 1.5em;height:1.5 em;}
  80%{width: 1em;height: 1em;}
}
@keyframes load4 {
  40%{width: 3em;height: 3em;}
  30%,60%{width: 2.5em;height: 2.5em;}
  20%,70%{width: 2em;height: 2em;}
  1%,80%{width: 1.5em;height:1.5 em;}
  0%,100%{width: 1em;height: 1em;}
}
body{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background: linear-gradient(#c7bfdf , #db938f);
  background-attachment: fixed;
  
}
.wrapper{
  width: 100%;
  border-bottom: 2px solid black;
  height:24vh;
  background-size: cover;
  background-attachment: fixed;
  background:brown;
  box-shadow: 10px 10px 5px #302f2f;
}
#logo{
  height:4vw;
  width:5vw;
  position: fixed;
  top:0.8%;
  left: 4%;
  z-index: 300;
}

.logo{
  display: inline;
  font-size: 2rem;
  position: fixed;
  z-index: 300;
  left: 10%;
  top:3.4%;
  color: white;
  text-decoration: none;
}


nav .menu{display:flex;}
nav .menu li a{
  height: 2rem;
  line-height: 2rem;
  margin: 0px;
  padding: 0px 0rem 0 1.4rem;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  width:5.2rem;
}
/*/////////////////////////////////////*/
.wrapper h3{
  color:#d88581d2 ;
text-align: center;
    font-family: sans-serif;
    font-size: 2em;
    padding-top: 10vh;
    
    text-shadow: 5px 5px 2px black;
}



#PlanTrip{
  width: 60%;
  height:fit-content;
  margin: -10% 20%;
  box-sizing: border-box;
  box-shadow: 8px 8px 50px #000;
  border-radius: 10px;
  background: inherit;
}

/*Province heading*/
.tab h3{
  font-family: 'Kaushan Script', cursive;
  font-weight: bold;
  font-size: 2em; 
  
  text-align: center;
  background-color: rgba(0, 0, 0, 0.219); 
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
/*Province list*/

.provincelist{
  width: 100%;
  height:fit-content;    
  padding: 3%;
  justify-content: center;
  align-content: center;
}

.box{
  width:90%;
  height:7vh;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.705);
  transition: all ease-in-out 0.7s;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  
}
.checkbox{
  margin-right: 3%;
  visibility: hidden;
}
.check{
  transition: all ease-in-out 0.5s;
  width: 7.5vw;
  height: 6vw;
  border-bottom-left-radius:90% ;
  border-top-right-radius: 14px;
 opacity: 0;
}

.select{
  width: 2em;
  height: 2em;
  background-color: rgb(109, 28, 85);
  opacity: 1;
  margin: 22% 45%;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);   
}

.provincelist{
  display: flex;
  flex-direction: column;
}
.provincelist .checkbox:checked ~ .check{
  opacity: 1;
}

.item1 , .item2 , .item3 ,.item4{
  width: 100%;
  align-items: center;
  margin-right: 3%;
  cursor: pointer;
}
.provincelabel{
  padding:0 35%;
  text-align: center;
  color: rgb(109, 28, 85);
  font-size: 1em;
  
  font-family:'Gloria Hallelujah', cursive;
  font-weight: bold;
}

.item4 .provincelabel{
  font-size: 1em;
  padding:0% 13% ;
}

.item3 .provincelabel{
  padding:0% 27%;
}


.container {
  display: flex;
  margin:2% 13%;
  
align-content: flex-end;
  cursor: pointer;
  font-size: 1.3em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
position: relative;

}

/* Hide the browser's default checkbox */
.container input {
visibility: hidden;
}
.container p{margin-left: 42%;}
/* Create a custom checkbox */
.checkmark {
position: absolute;
height: 1em;
width: 1em;
background-color: #eee;


}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
background-color: rgb(219, 183, 183);
}

/* When the checkbox is checked, add a background  */
.container input:checked ~ .checkmark {
background-color: #c27bad;

}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
content: "";
position: absolute;
display: none;
}
/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}


/* Style the checkmark/indicator */
.container .checkmark:after {
left: 0.56em;
top: 0.31em;
width: 0.31em;
height: 0.625em;
border: solid white;
border-width: 0 3px 3px 0;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}

.animationgrid img{
  width:37%;
  height: 18vw;
  margin-right: 7em;
  animation:act 30s 0.5s infinite ;

  animation-fill-mode: forwards;
  
  transition: all ease-in-out 10s;
}

.animationgrid{
  
  width:70%;

  margin-left: 15%;
  margin-top: 2%;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}

@keyframes act {
  0%,100%{transform: translateX(6em);}
  10%{transform:translateX(15em) ;}
  20%{transform:translateX(25em) ;}
  30%{transform:translateX(37em) ;}
  40%{transform:translateX(47em) ;}
  50%{transform:translateX(57em) ;}
  60%{transform:translateX(47em) ;}
  70%{transform:translateX(35em) ;}
  80%{transform:translateX(25em) ;}
  90%{transform:translateX(15em) ;}
  
}

/*Date selector*/
 
#Startdate-picker{
  margin: 5% 10%;
  border-radius: 10px;
  font-size: 1em;
 
  background-color: rgb(211, 194, 188);
}
#Enddate-picker{
 
  margin: 5% 10%;
border-radius: 10px;
font-size: 1em;

background-color: rgb(211, 194, 188);
}
/*No of travelers*/
.pl{
  font-size: 1em;
  margin-bottom: 0.5em;
  margin: 0 5%;
}

.passenger input{
  padding-left: 15%;
  font-size: 1em;
  background-color: #db938f;
}

.transport{
  font-size: 1em;
  margin: 3%;
}
.transport legend{
  font-size: 1.2em;
  
}

.travelposter{
  display: inline;
  float: right;
  width: 40%;
  height: 10vh;
}
/* Hide all steps by default: */
.tab {
display: none;
height: 50vh;
}

button {
background-color: #04AA6D;
color: #ffffff;
border: none;
padding: 0.62em 1.25em;
font-size: 1.1em;
font-family: Raleway;
cursor: pointer;
}

button:hover {
opacity: 0.8;
}
/*Previous button*/
#prevBtn {
size: 1.25em;
background-color: rgb(175, 124, 124);
border-radius: 10px;
padding: 0.3em 0.3em;
margin-left: 2%;
font-size: 1rem;
font-weight: bold;
font-family: Verdana, Geneva, Tahoma, sans-serif;
width: 24%;
position: fixed;
margin-top: 3%;

}

/*Next button*/
#nextBtn,#submitBtn{
size: 1.25em;
background-color: rgb(175, 124, 124);
border-radius: 10px;
padding: 0.3em 1.3em;
margin-left: 60%;
margin-top: 7%;
font-size: 1rem;
font-weight: bold;
font-family: Verdana, Geneva, Tahoma, sans-serif;
width: 35%;

}
button{
inline-size: 3%;
}

/* Make circles that indicate the steps of the form: */
.awein{flex-direction:column;display:flex;padding-top:2%;}
.step {
height: 1em;
width: 1em;
margin: 0  .125em;
background-color: #bbbbbb;
border: none;  
border-radius: 50%;
display: inline-block;
opacity: 0.5;
}

.step.active {
opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
background-color: #97627f;
}




/*Scrollbar*/
::-webkit-scrollbar{width:15px; border-radius: 20px;}
::-webkit-scrollbar-track{background: linear-gradient(transparent,rgba(182, 92, 92, 0.945)); 
box-shadow:inset 0 0 10px rgba(0, 0, 0, 0.39);  }
::-webkit-scrollbar-thumb{background: linear-gradient(rgb(94, 32, 32),rgb(109, 37, 37),rgb(163, 55, 55),rgb(172, 77, 77)); border-radius: 20px;}
@media screen and (min-width: 480px) {
  .wrapper{
    width: 100%;
    border-bottom: 2px solid black;
    height:24vw;
    background-size: cover;
    background-attachment: fixed;
    background:brown;
    box-shadow: 10px 10px 5px #302f2f;
  }
  .wrapper h3{
    color:#d88581d2 ;
    margin-left: 18%;
      font-family: sans-serif;
      font-size: 6em;
      padding-top: 3%;
      
      text-shadow: 5px 5px 2px black;
  }
  .tab h3{
    font-family: 'Kaushan Script', cursive;
    font-weight: bold;
    font-size: 2em; 
    padding-left: 7%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.219); 
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }
  .provincelist{
    display: flex;
    flex-direction: row;
  }
  .provincelist{
    display: flex;
    flex-direction: row;
  }
  .provincelist .checkbox:checked ~ .check{
    opacity: 1;
  }
  
  .item1 , .item2 , .item3 ,.item4{
    width: 18%;
    margin-right: 3%;
    cursor: pointer;
  }
  .provincelabel{
    padding:30% 25%;
    text-align: center;
    color: rgb(109, 28, 85);
    font-size: x-large;
    font-family:'Gloria Hallelujah', cursive;
    font-weight: bold;
  }
  
  .item4 .provincelabel{
    font-size: 1.3em;
    padding:0% 0% ;
  }
  
  .item3 .provincelabel{
    padding:0% 9%;
  }
  .item1 , .item2 , .item3 ,.item4{
    width: 18%;
    margin-right: 3%;
    cursor: pointer;
  }
  .provincelabel{
    padding:30% 25%;
    text-align: center;
    color: rgb(109, 28, 85);
    font-size: x-large;
    font-family:'Gloria Hallelujah', cursive;
    font-weight: bold;
  }
  .box{
    width:90%;
    height:34vh;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.705);
    transition: all ease-in-out 0.7s;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
  }
  #nextBtn,#submitBtn{
    size: 1.25em;
    background-color: rgb(175, 124, 124);
    border-radius: 10px;
    padding: 0.3em 1.3em;
    margin-left: 70%;
    margin-top: 3%;
    font-size: 1rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 15%;
    
    }
    button{
    inline-size: 3%;
    }
    #prevBtn {
      size: 1.25em;
      background-color: rgb(175, 124, 124);
      border-radius: 10px;
      padding: 0.3em 0.3em;
      margin-left: 7%;
      font-size: 1rem;
      font-weight: bold;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      width: 9%;
      position: fixed;
      margin-top: 1.7em;
      
      }
      .awein{flex-direction:row;display:flex;padding-top:3%;}
      .animationgrid img{
        width:30em;
        height: 14vw;
        margin-right: 7em;
        animation:act 30s 0.5s infinite ;
      
        animation-fill-mode: forwards;
        
        transition: all ease-in-out 0.5s;
      }
      
      .animationgrid{
        
        width:38%;
      
        margin-left: 5%;
        display: flex;
        justify-content: flex-end;
        overflow: hidden;
      }
      
      @keyframes act {
        0%,100%{transform: translateX(7em);}
        10%{transform:translateX(30em) ;}
        20%{transform:translateX(60em) ;}
        30%{transform:translateX(79em) ;}
        40%{transform:translateX(107em) ;}
        50%{transform:translateX(136em) ;}
        60%{transform:translateX(107em) ;}
        70%{transform:translateX(79em) ;}
        80%{transform:translateX(60em) ;}
        90%{transform:translateX(30em) ;}
        
      }
      .checkmark {
position: absolute;
height: 1em;
width: 1em;
background-color: #eee;


}
.container p{margin-left: 12%;}
#Startdate-picker{
  margin: 5% 10%;
  border-radius: 10px;
  font-size: 1.5em;
 
  background-color: rgb(211, 194, 188);
}
#Enddate-picker{
 
  margin: 5% 10%;
border-radius: 10px;
font-size: 1.5em;
margin-left: 5em;
background-color: rgb(211, 194, 188);
}.travelposter{
  display: inline;
  float: right;
  width: 40%;
  height: 40vh;
}
.transport legend{
  font-size: 1.6em;
  
}
    }