*{
  margin: 0 0;
  padding: 0 0;
  overflow: hidden;
}
#loading{
  background-color: rgb(56, 9, 9);
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 90000;
  align-items: center;
  justify-content: center;
  align-content: center;
  
}
.load1{
  width:3em;
  height: 3em;
  border-radius: 50%;
  background-color: rgb(221, 191, 196);
  animation: load1 2s linear infinite;
  transition: all ease-in-out 1s;
  box-shadow: 0 5px 15px rgba(221, 191, 196, 0.753) ;
}
.load2{width:2.5em;
  height: 2.5em;
  border-radius: 50%;
  background-color: rgb(211, 150, 160);
  animation: load2 2s linear infinite;
  transition: all ease-in-out 1s;
  box-shadow: 0 5px 15px rgb(211, 150, 160,0.753);
}
.load3{
  width:2em;
  height: 2em;
  border-radius: 50%;
  background-color: rgb(190, 94, 110);
  animation: load3 2s linear infinite;
  transition: all ease-in-out 1s;
  box-shadow: 0 5px 15px rgb(190, 94, 110,0.753);
}
.load4{width:1.5em;
  height: 1.5em;
  border-radius: 50%;
  background-color: rgb(146, 53, 69);
   animation: load4 2s linear infinite;
  transition: all ease-in-out 1s;
  box-shadow: 0 5px 15px rgb(146, 53, 69,0.753);
}
.load5{
  width:1em;
  height: 1em;
  border-radius: 50%;
  background-color: rgb(99, 32, 43);
  animation: load5 2s linear infinite;
  transition: all ease-in-out 1s;
  box-shadow: 0 5px 15px rgb(99, 32, 43,0.753);
}

@keyframes load1 {
  0%,100%{width: 3em;height: 3em;}
  10%,80%{width: 2.5em;height: 2.5em;}
  20%,70%{width: 2em;height: 2em;}
  30%,60%{width: 1.5em;height:1.5 em;}
  40%,50%{width: 1em;height: 1em;}
}
@keyframes load2 {
  10%{width: 3em;height: 3em;}
  0%,20%,100%{width: 2.5em;height: 2.5em;}
  80%,30%{width: 2em;height: 2em;}
  70%,40%{width: 1.5em;height:1.5 em;}
  60%,50%{width: 1em;height: 1em;}
}

@keyframes load3 {
  20%{width: 3em;height: 3em;}
  10%,30%{width: 2.5em;height: 2.5em;}
  0%,50%,100%{width: 2em;height: 2em;}
  90%,60%{width: 1.5em;height:1.5 em;}
  80%,70%{width: 1em;height: 1em;}
}

@keyframes load4 {
  30%{width: 3em;height: 3em;}
  20%,50%{width: 2.5em;height: 2.5em;}
  10%,60%{width: 2em;height: 2em;}
  0%,70%,100%{width: 1.5em;height:1.5 em;}
  80%{width: 1em;height: 1em;}
}
@keyframes load4 {
  40%{width: 3em;height: 3em;}
  30%,60%{width: 2.5em;height: 2.5em;}
  20%,70%{width: 2em;height: 2em;}
  1%,80%{width: 1.5em;height:1.5 em;}
  0%,100%{width: 1em;height: 1em;}
}
body{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-attachment: fixed;
  background-image: url(/img/main/img9.jpg);
  animation-name: animatewrap;
  overflow-x: hidden;
  animation-duration: 13s;
  animation-timing-function: ease-in-out;
  animation-play-state: running;
  animation-iteration-count: infinite;
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  overflow: hidden;
  font-weight: bolder;
  height: 100vh;
  width: 100vw;
  background-size: cover;
}

@keyframes animatewrap{
  0%{background-image: url(/img/main/img13.jpg);}
  25%{background-image: url(/img/main/img8.jpg);}
  50%{background-image: url(/img/main/img5.jpg);}
  75%{background-image: url(/img/main/img6.jpg);}
  100%{background-image: url(/img/main/img9.jpg);}
  
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:purple;
  font-weight: bold;
  opacity: 1; /* Firefox */
}
.pop{
  background:linear-gradient(transparent,rgba(228, 225, 225, 0.479));
  
  width: 50%;
  height: 100vh;
  padding-top: 3%;
  letter-spacing: 2px;
  color: white;
  transition: all ease-in-out 0.5s;
  text-shadow: 0 0 10px rgb(56, 55, 55);
  
}

.signin{
  width: 60%;
  height: 100%;
  padding: 10% 20%;
  text-align: center;
}
.signin h1{
  margin-top: 50%;
}
h1{
  margin: 0;
  padding: 0;
  font-weight: bolder;
  font-size: 2.5em;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  text-align: center;
  margin-bottom: 4%;

}
.signin input{
  width: 100%;
  margin-bottom: 5%;
  
}
.signin input[type=email]{
   border: none;
   border-bottom: 2px solid #ddd;
   background: transparent;
   outline: none;
   height: 10%;
   font-size: 1.5em;
   opacity: 1;
   color: black

}

.signin input[type=password]{
  display: flex;
  border: none;
  border-bottom: 2px solid #ddd;
  outline: none;
  background: transparent;
  height: 10%;
  font-size: 1.5em;
  font-weight:bold; 
  opacity: 1;
  color: black;

}
.signin input[type=submit]{
  border: none;
  outline: none;
  height: 20%;
  font-size: 1.5em;
  opacity: 1;
  color: rgb(43, 35, 35);
  font-weight: bold;

}

.signin input[type=submit]:hover{
  cursor: pointer;
}
.signin a{
  font-size: 1.2em;
  text-decoration: none;
  color: #fff;
  
}
.signin a :hover{
  color : #fff;
  opacity: 1;
}
.bottom-text{
  color: #fff;
  margin-bottom: 10%
}

.login{
  color: white;
  margin: 2% 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

.link{
  display: flex;
  cursor: pointer;
  color: white;
  margin: 5% 16%;
}



.signup{
  color: purple;
  font-size: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;

}
.signup a{
  color: purple;
  text-decoration: none;
  font-size: 1.2em;
  outline: none;
   text-shadow: 0 0 10px rgb(56, 55, 55);
  background:inherit;
}
.signup a:hover{
  text-decoration: underline;}


.register{
  width: 90%;
  height: 100%;
  padding: 3% 12%;

}

.register label{
  font-size: 1.5em;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}
.register input{
margin-bottom: 2%;
}
.register input[type=text]{
border: none;
border-bottom: 2px solid #ddd;
background: transparent;
outline: none;
height: 20%;
font-size: 1em;
opacity: 1;
color: black;

}

.register input[type=email]{
  border: none;
  border-bottom: 2px solid #ddd;
  background: transparent;
  outline: none;
  height: 20%;
  font-size: 1em;
  opacity: 1;
  color: black;
  
  }
.register input[type=password]{
border: none;
border-bottom: 2px solid #ddd;
background: transparent;
outline: none;
height: 20%;
font-size: 1em;
opacity: 1;
color: black;

}
.register input[type=tel]{
border: none;
border-bottom: 2px solid #ddd;
background: transparent;
outline: none;
height: 20%;
font-size: 1em;
opacity: 1;
color: black;

}

.register a{
font-size: 14px;
text-decoration: none;
color: purple;
opacity: 0.8;
}
.register a :hover{
color : #fff;
opacity: 1;
}
.register .h1{
  margin-bottom: 1%;
}

.signupbtn{
  width: 30%;
  height: 20%;
  background-color: rgb(50, 50, 207);
  border-radius: 8%;
  padding: 10px 20px 10px 20px;
  margin: 8px 0;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}
.option{
  border-radius: 3px;
  font-size: 1em;
  background-color: white;
  margin-left: 2%;
  
  }
.login button{
  outline: none;
  background: inherit;
  font-size: 1em;
  color: purple;
  border: none;
  font-weight: bold;
  text-shadow: 0 0 10px rgb(56, 55, 55);
}

.login button:hover{
  text-decoration: underline;}
  #logo{
    height:4vw;
    width:5vw;
    position: fixed;
    top:0.8%;
    left: 4%;
    z-index: 300;
  }
  
  .logo{
    display: inline;
    font-size: 2rem;
    position: fixed;
    z-index: 300;
    left: 10%;
    top:3.4%;
    color: white;
    text-decoration: none;
  }

  #m{
    color: #8b0707;
    background-color: palevioletred;
    width: 50%;
    font-size: 2em;
    
    position: absolute;
    top: 10%;
    text-align:center;
  }
  @media screen and (min-width: 480px) {
    .pop{background:linear-gradient(transparent,rgba(228, 225, 225, 0.479));
  
      width: 50%;
      height: 100vh;
      padding-top: 3%;
      letter-spacing: 2px;
      color: white;
    
      text-shadow: 0 0 10px rgb(56, 55, 55);
      
    }
    .signin{
      width: 60%;
      height: 100%;
      padding: 10% 20%;
      text-align: center;}
      .signin h1{
        margin-top: 0%;
      
    }
    
  }