*{
    margin: 0;
    
    padding: 0;
}
::-webkit-scrollbar{width:15px; border-radius: 20px;}
::-webkit-scrollbar-track{background: linear-gradient(transparent,rgba(182, 92, 92, 0.945)); 
    box-shadow:inset 0 0 10px rgba(0, 0, 0, 0.39);  }
::-webkit-scrollbar-thumb{background: linear-gradient(rgb(94, 32, 32),rgb(109, 37, 37),rgb(163, 55, 55),rgb(172, 77, 77)); border-radius: 20px;}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: linear-gradient(#c7bfdf , #db938f);
    background-attachment: fixed;
    overflow: hidden;
    overflow-x: hidden;
}
#loading{
    background-color: rgb(56, 9, 9);
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 9000000;
    align-items: center;
    justify-content: center;
    align-content: center;
    position: fixed;
    top: 0;
    left: 0;
    
}
.load1{
    width:3em;
    height: 3em;
    border-radius: 50%;
    background-color: rgb(221, 191, 196);
    animation: load1 2s linear infinite;
    transition: all ease-in-out 1s;
    box-shadow: 0 5px 15px rgba(221, 191, 196, 0.753) ;
}
.load2{width:2.5em;
    height: 2.5em;
    border-radius: 50%;
    background-color: rgb(211, 150, 160);
    animation: load2 2s linear infinite;
    transition: all ease-in-out 1s;
    box-shadow: 0 5px 15px rgb(211, 150, 160,0.753);
}
.load3{
    width:2em;
    height: 2em;
    border-radius: 50%;
    background-color: rgb(190, 94, 110);
    animation: load3 2s linear infinite;
    transition: all ease-in-out 1s;
    box-shadow: 0 5px 15px rgb(190, 94, 110,0.753);
}
.load4{width:1.5em;
    height: 1.5em;
    border-radius: 50%;
    background-color: rgb(146, 53, 69);
     animation: load4 2s linear infinite;
    transition: all ease-in-out 1s;
    box-shadow: 0 5px 15px rgb(146, 53, 69,0.753);
}
.load5{
    width:1em;
    height: 1em;
    border-radius: 50%;
    background-color: rgb(99, 32, 43);
    animation: load5 2s linear infinite;
    transition: all ease-in-out 1s;
    box-shadow: 0 5px 15px rgb(99, 32, 43,0.753);
}

@keyframes load1 {
    0%,100%{width: 3em;height: 3em;}
    10%,80%{width: 2.5em;height: 2.5em;}
    20%,70%{width: 2em;height: 2em;}
    30%,60%{width: 1.5em;height:1.5 em;}
    40%,50%{width: 1em;height: 1em;}
}
@keyframes load2 {
    10%{width: 3em;height: 3em;}
    0%,20%,100%{width: 2.5em;height: 2.5em;}
    80%,30%{width: 2em;height: 2em;}
    70%,40%{width: 1.5em;height:1.5 em;}
    60%,50%{width: 1em;height: 1em;}
}

@keyframes load3 {
    20%{width: 3em;height: 3em;}
    10%,30%{width: 2.5em;height: 2.5em;}
    0%,50%,100%{width: 2em;height: 2em;}
    90%,60%{width: 1.5em;height:1.5 em;}
    80%,70%{width: 1em;height: 1em;}
}

@keyframes load4 {
    30%{width: 3em;height: 3em;}
    20%,50%{width: 2.5em;height: 2.5em;}
    10%,60%{width: 2em;height: 2em;}
    0%,70%,100%{width: 1.5em;height:1.5 em;}
    80%{width: 1em;height: 1em;}
}
@keyframes load4 {
    40%{width: 3em;height: 3em;}
    30%,60%{width: 2.5em;height: 2.5em;}
    20%,70%{width: 2em;height: 2em;}
    1%,80%{width: 1.5em;height:1.5 em;}
    0%,100%{width: 1em;height: 1em;}
}
.DIV{display:flex;flex-direction:row;border-bottom:3px solid brown}
.city{}
.city,.places{
    margin: 5% 3%;
    padding: 4%;
    background: inherit;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    width: 86%;
    height: auto;
}
.cimg{
    width:13rem;
    height: 13rem;
    background-color: black;

}
.pimg{ width:9rem;
    height: 9rem;
    background-color: black;}
.places h2{
    
    margin-left: 2%;
    font-size: 1.5em;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.places h3{
    
    font-size: 1.2em;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.cimg img,.pname img{
    width: 100%;
    height: 100%;
}
.cname,.pname{
    text-align: center;
    margin-left: 4%;
    justify-content: center;
    align-items: center;
    font-size: 3.7em;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: capitalize;
    color: red;
}
.pname{font-size: 3em;}

#continueBtn,#NoBtn,#cancelBtn,#YesBtn{
    cursor: pointer;
    margin-right: 15%;
    width:7.5em;
    font-size: 1.1em;
    background-color: rgba(165, 79, 79, 0.747);
    border-radius: 10px;
    outline: none;
    height: 2.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 2%;
   margin-left: 3%;
   
}
.note{
    background-color: #db938f;
    color: red;
    font-size: 1.5em;
    padding: 1.2;
    justify-content: center;
    text-align: center;
}
.info h1{
    margin-top: 2%;
    margin-left: 2%;
    font-size: 1.8em;
}
.warn{
    position: fixed;
    top:30vh;
    height:20vh;
    width: 50vw;
    display: none;
    left:25vw;
    background-color: #db938f;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index:2000;
    
    padding: 3%;
}
.warn p{font-size: 2em;margin-left: -2%;}