*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: linear-gradient(#c7bfdf , #db938f);
    overflow-x: hidden;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    text-align: center;
}
h1{
    font-size: 10em;
    font-weight: bold;
    color: black;
}